<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISystemService" closeTimeout="00:00:30"
                    openTimeout="00:00:30" receiveTimeout="00:00:30" sendTimeout="00:00:30">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:15143/APAS/USRCI" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISystemService" contract="Service.ISystemService"
                name="NetTcpBinding_ISystemService" />
        </client>
    </system.serviceModel>
</configuration>
